
/* Hide old tabs and other elements */
.titlebar-spacer,
#tabbrowser-tabs,
#alltabs-button,
#firefox-view-button {
    display: none;
}

/* Move control buttons into same bar as other elements */
#navigator-toolbox {
    flex-direction: row-reverse;
    padding: 5px;
}
#titlebar {
    width: 100px;
}
#nav-bar {
    flex-grow: 2;
}

/* Limit size of URL bar, make rounder */
#urlbar-container {
    max-width: 800px;
}
#urlbar-background {
    border-radius: 10px !important;
}

/* Make spacers in titlebar be able to grown infinite */
toolbarpaletteitem[place="toolbar"][id^="wrapper-customizableui-special-spring"], toolbarspring {
    max-width: none !important;
}

/* Customize tab bar on left */
#sidebar-header {
    display: none;
}
#sidebar-splitter {
    border: none !important;
    background-color: var(--sidebar-background-color) !important;
}
#sidebar-box {
    margin-top: -1px;
    padding: 0 4px 10px 10px;
}

/* Rounded window */
#appcontent .browserStack, #browser, .browserContainer {background: var(--lwt-accent-color)}
#main-window:not([inDOMFullscreen="true"])[chromehidden=""] {
    #appcontent browser {
        border-radius: 10px 0 0 0 !important;
        /*border-left: 2px solid var(--toolbar-field-background-color);*/
        /*border-top: 2px solid var(--toolbar-field-background-color);*/
    }
}

/* icons in url-bar */
.urlbar-page-action, #tracking-protection-icon-container, #identity-icon-box {
    border-radius: 10px !important;
}
